{% extends 'base.html.twig' %}

{% block title %}Accueil - Trouve ton stage{% endblock %}

{% block content %}
<div class="sectionRecherche">
    <div class="search-content">
        <h1>Recherchez votre stage facilement !</h1>
        <div class="search-container">
            <input type="text" placeholder="Rechercher une annonce !" id="recherche">
            <button id="BtRecherche">🔍</button>
        </div>
    </div>
</div>

<div class="offres-container">
    {% for offre in offres %}
<div class="offre">
<h2>{{ offre.titre }}</h2>
<h3>{{ offre.nom_entreprise }}</h3>
<p>{{ offre.description }}</p>
<p>Lieu: {{ offre.nom_localisation }}</p>
<p>Rémunération: {{ offre.remuneration }}€</p>
</div>
    {% endfor %}
</div>
<div class="pagination">
    {% for i in 1..pages %}
<a href="?page={{ i }}" class="{% if i == page %}active{% endif %}">{{ i }}</a>
    {% endfor %}
</div>    

{% endblock %}
